* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  padding: 0 0 44px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
  max-width: 1220px;
}

h1 {
  font-size: 3rem;
  line-height: 1.17;
  margin: 0;
}

h2 {
  font-size: 3rem;
  line-height: 1.17;
  margin: 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.17;
  margin: 0;
}

h4 {
  font-size: 1.175rem;
  line-height: 1.17;
  margin: 0;
}

.cta-btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 2.5rem;
  background-color: #4277f0;
  border-radius: 0.375rem;
  color: #fff;
  text-decoration: none;
  transition: all ease 200ms;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }
}

.cta-btn-small {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.header {
  background: #fff;
  padding: 16px 40px 13px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    img {
      width: 150px;
      height: 40px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .flag {
    img {
      width: 32px;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 18px;

      a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
      }

      li:last-child {
        a {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  button {
    border: none;
    background: none;
  }
}

.section-1 {
  background: url(../img/section-1/bg.jpg) center no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
  z-index: 2;

  .cta {
    color: #fff;
    padding: 5rem 0;
    font-weight: 700;
    text-align: center;
    max-width: 700px;
    margin: 0 -40px;

    .stars {
      max-width: 150px;
    }

    h1 {
      margin: 0.375rem 0 1.375rem;
    }

    .cta-text-sm {
      font-size: 0.875rem;
      line-height: 1.2rem;
    }

    .cta-text-md {
      font-size: 2rem;
    }

    .cta-text-lg {
      font-size: 6rem;
      line-height: 6.2rem;
    }

    .cta-btn-wrapper {
      display: inline-block;
      margin: 2rem 0 1.375rem;
    }
  }

  .channels {
    margin: 2.725rem 0 0;
    padding: 0 12px;
    color: #fff;

    .channels-images {
      display: flex;
      gap: 1.25rem;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 128px;
        max-height: 60px;
      }
    }

    p {
      margin: 2.725rem auto;
      text-align: center;
    }
  }
}

.section-2 {
  text-align: center;
  padding: 3.5rem;
  overflow: hidden;

  h1,
  p,
  .lists {
    position: relative;
    z-index: 2;
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }

  .video-wrapper {
    height: 400px;
  }
  .video-container {
    width: 100%;
    height: 100%;
  }
  .video {
    margin: -1.5rem 0 0;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: scale(2.5);
  }

  .lists {
    margin: 1.2rem auto 0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    max-width: 940px;

    & > div {
      width: 33.3%;
    }

    ul {
      padding: 0 0 0 1rem;
      line-height: 1.4rem;
    }
  }
}

.cta-fixed-block {
  position: relative;
  z-index: 10;
  height: 47px;

  .scrollable {
    background: rgb(242, 242, 242);
    padding: 0.875rem 0;

    &.fixed {
      position: fixed;
      z-index: 10;
      top: 0;
      width: 100%;
      max-width: 2000px;
    }
  }

  .container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
  }

  .logo-stars {
    display: flex;
    gap: 1.825rem;
    align-items: center;
  }

  .logo {
    img {
      width: 150px;
      height: 40px;
    }
  }

  .stars {
    max-width: 150px;
  }
}

.section-3 {
  position: relative;
  z-index: 2;
  background: url(../img/section-3/bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;

  .container {
    padding: 0;
    max-width: 1250px;
  }

  .opinion {
    width: 46%;
    margin-left: 51.5%;

    h1 {
      margin: 0 0 1.875rem;
    }

    p {
      line-height: 1.5rem;
      margin: 0;
    }
  }

  .link-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 1rem 0.825rem;
    }

    img {
      max-width: 140px;
    }
  }
}

.section-4 {
  padding: 5.125rem 0 5rem;

  h1 {
    text-align: center;
  }

  .no-pain {
    position: relative;
    display: grid;
    grid-template-columns: 46% 48.5%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 2.375rem 0 0;

    & > div {
      position: relative;
      z-index: 2;
    }

    .bg-number {
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: -11%;
    }

    h2 {
      margin: 0 0 1.5rem;
      max-width: 500px;
    }

    p {
      margin: 0 0 1.5rem;
      line-height: 1.5rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.section-5 {
  position: relative;
  z-index: 2;
  background: url(../img/section-5/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 4.875rem 0 0;

  .sleep-score {
    position: relative;
    display: grid;
    gap: 2rem;
    grid-template-columns: 55% 45%;

    .bg-number {
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: -11%;
    }

    .text {
      align-self: center;

      h2 {
        max-width: 400px;
        margin: 2rem 0;
      }

      p {
        max-width: 550px;
        margin: 0 0 2rem;
        line-height: 1.5rem;
      }
    }
  }

  .phone {
    position: relative;
    max-width: 421px;

    .score {
      position: absolute;
      top: 34.5%;
      left: 50%;
      transform: translateX(-53%);
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
    }
    img {
      display: block;
      max-width: 421px;
    }
  }
}

.section-6 {
  padding: 2.5rem 0 1.625rem;

  h2 {
    text-align: center;
    margin: 0 0 2.5rem;
  }

  .pillows {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;

    .bg-number {
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: -11%;
    }

    h4 {
      margin: 1rem 0 0;
    }

    p {
      line-height: 1.5rem;
    }

    img {
      max-width: 97%;
      height: auto;
    }
  }
}

.section-7 {
  padding: 2.5rem 0 4.325rem;
  background-color: rgb(242, 242, 242);

  .positions {
    position: relative;

    .bg-number {
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 0;
      right: -5.5%;
    }

    .grid {
      display: flex;
      justify-content: space-between;
      gap: 5.475rem;
      align-items: center;

      .photos {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        text-align: center;
        padding: 2.4rem 0 0;

        img {
          max-width: 100%;
          height: auto;
        }

        strong {
          display: block;
          margin: 0.875rem 0;
        }
      }

      .text {
        h2 {
          margin: 2rem 0;
        }

        p {
          line-height: 1.5rem;
          max-width: 500px;
          margin: 0 0 2rem;
        }
      }
    }
  }
}

.section-8 {
  padding: 2.725rem 0 4.875rem;

  h1 {
    text-align: center;
  }

  .no-pain {
    position: relative;
    display: grid;
    grid-template-columns: 46% 48.5%;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 2.375rem 0 0;

    & > div {
      position: relative;
      z-index: 2;
    }

    .bg-number {
      max-width: 350px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: -11%;
    }

    h2 {
      margin: 1rem 0 1.5rem;
      max-width: 500px;
    }

    p {
      margin: 0 0 1.5rem;
      line-height: 1.5rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.section-9 {
  background: url(../img/section-9/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 5rem 0 6rem;
  color: #fff;

  .standart {
    max-width: 550px;

    h2 {
      margin: 0 0 1.5rem;
    }

    p {
      margin: 0 0 1.5rem;
      line-height: 1.5rem;
    }
  }
}

.section-10 {
  padding: 5rem 0 7.5rem;

  .sizes {
    display: grid;
    gap: 2rem;
    grid-template-columns: 49.5% 50.5%;

    h2 {
      margin: 0 0 1.5rem;
    }

    p {
      line-height: 1.5rem;
      max-width: 520px;
      margin: 0 0 1.4rem;
    }

    .sizes-img {
      position: relative;

      .img-container {
        position: absolute;
        padding: 0 0 3rem;
      }

      label {
        position: absolute;
        bottom: -2.3rem;
        left: 0;
        z-index: 2;
        border: 1px solid rgb(212, 212, 212);
        color: rgb(212, 212, 212);
        padding: 0.625rem 1rem;
        width: 47%;
        text-align: center;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: all ease-in 100ms;

        &.size2 {
          left: auto;
          right: 0;
        }
      }

      img {
        display: none;
        max-width: 90%;
        height: auto;
      }

      input {
        display: none;
      }

      input:checked + img {
        display: block;
      }

      input:is(#size1):checked ~ label:is(.size1),
      input:is(#size2):checked ~ label:is(.size2) {
        background-color: rgb(212, 212, 212);
        color: #000;
        font-weight: 700;
      }
    }
  }
}

.section-11 {
  padding: 2.5rem 0 2.375rem;
  background-color: rgb(242, 242, 242);

  h2 {
    text-align: center;
    margin: 0 0 1.5rem;
  }

  .video {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section-12 {
  padding: 2.5rem;
  background: url(../img/section-12/bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  height: 495px;
  overflow: hidden;

  .tiktok {
    display: grid;
    grid-template-columns: 48.5% 50%;
    gap: 2rem;

    .tiktok-video {
      position: relative;
      height: 100%;

      .phone-img {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
      }

      .screen-icons {
        position: absolute;
        z-index: 3;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
      }

      .video {
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        overflow: hidden;
        border-radius: 3rem;

        video {
          width: 100%;
        }
      }
    }

    .text {
      h3 {
        margin: 0 0 1.5rem;
      }

      p {
        max-width: 550px;
        margin: 0 0 1.625rem;
        line-height: 1.5rem;
      }

      img {
        max-width: 250px;
        margin: 2.5rem 0 1.5rem;
      }
    }
  }
}

.section-13 {
  padding: 5rem;

  h2 {
    text-align: center;
  }

  .bars {
    max-width: 1018px;
    margin: 1rem auto;
  }

  .bar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    .name {
      width: 100px;
      padding-top: 3px;
    }

    .value {
      width: 40px;
      text-align: right;
      padding-top: 4px;
    }
  }

  .bar-wrapper {
    width: 100%;
    height: 27px;
    background-color: #f2f2f5;
    margin: 0 0 1.0625rem;

    .bar-inner1 {
      background-color: #00b67a;
      width: 74%;
      height: 100%;
    }

    .bar-inner2 {
      background-color: #89cc41;
      width: 23%;
      height: 100%;
    }

    .bar-inner3 {
      background-color: #b9b9b9;
      width: 3%;
      height: 100%;
    }
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0 0;
  }

  .review {
    background-color: rgb(242, 242, 242);
    padding: 1rem;
    width: calc(33.33% - 3rem);

    .verified {
      background: url(../img/verified.svg) left center no-repeat;
      padding: 0 0 0 1.5rem;
      color: #1ac70e;
      margin: 0.8rem 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .stars {
      img {
        max-width: 120px;
      }
    }
  }

  .cta {
    text-align: center;
    margin: 2.5rem 0 0;
  }
}

.section-14 {
  padding: 2.5rem 0 3.5rem;
  background-color: rgb(242, 242, 242);

  h3 {
    text-align: center;
  }

  .faq {
    margin: 2.625rem 0 0;
    border-top: 1px solid rgb(231, 231, 231);

    .item {
      position: relative;
      padding: 1.25rem 0;
      border-bottom: 1px solid rgb(231, 231, 231);

      .icon {
        position: absolute;
        left: 0.5rem;
        top: 1.4rem;
        transition: all ease-in 100ms;
      }

      label {
        padding: 0 0 0 2.5rem;
        font-size: 1.125rem;
        line-height: 1.45;
        font-weight: 700;
        cursor: pointer;
      }

      input {
        display: none;
      }

      p {
        padding: 0 0 0 2.5rem;
        display: none;
        line-height: 1.5rem;
      }

      input:checked ~ p {
        display: block;
      }
      input:checked ~ .icon {
        transform: rotate(-180deg);
      }
    }
  }
}

.section-15 {
  background: url(../img/section-15/bg.jpg) center no-repeat;
  background-size: cover;
  padding: 11rem 0 11.625rem;
  color: #fff;

  h2 {
    margin: 0 0 2rem;
  }
}

footer {
  background-color: rgb(57, 57, 57);
  color: #fff;
  padding: 1.75rem 0;

  .navs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1.625rem 0 0;
    max-width: 1040px;

    & > div {
      width: 25%;
    }

    h4 {
      text-transform: uppercase;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      margin: 1rem 0;
      padding: 0;

      a {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        line-height: 1.725rem;
      }
    }

    .contacts {
      margin: 0.5rem 0;
      color: #fff;
      opacity: 0.5;
      line-height: 2rem;

      a {
        color: #fff;
        text-decoration: none;
      }

      svg {
        width: 24px;
        display: inline-block;
        position: relative;
        top: 7px;
        margin: 0 5px 0 0;
      }
    }
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
  padding: 1rem 0;

  & > div {
    width: 50%;
  }

  .logos {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img {
    display: inline-block;
    max-width: 60px;
  }
}

.floating-banner {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 44px;
  color: #051931;

  &.shown {
    visibility: visible;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
  }

  .timer {
    font-weight: 700;
    background: #ff8a00;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    color: #fff;
  }
}
.cta-fixed-block,
section,
footer {
  width: 100vw;
  max-width: 2000px;
  margin: 0 auto;
}

.show-mobile {
  display: none;
}

@media (max-width: 1140px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
  .cta-fixed-block .scrollable,
  footer,
  section {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  section {
    overflow-x: hidden;
  }
}

@media (max-width: 1024px) {
  .section-13 .review {
    width: calc(33.33% - 1rem);
  }
  .section-4 .bg-number,
  .section-5 .bg-number,
  .section-6 .bg-number,
  .section-8 .bg-number,
  .section-7 .bg-number {
    left: 0 !important;
    top: 0 !important;
    max-width: 100px !important;
  }
  .section-6 .bg-number {
    top: -110px !important;
  }

  .show-mobile.hidden {
    display: none;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 720px;
  }
  .section-1 {
    height: 730px;
  }
  .section-1 .cta {
    margin: 0 auto;
    padding: 5rem 0 0;
  }
  .section-1 .channels .channels-images img {
    max-width: 70px;
    height: auto;
  }
  .section-1 .carousel-images {
    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 2rem;
    }
    img {
      margin: 0 auto;
      max-height: 50px;
      max-width: 100%;
    }
  }
  .section-2 .video-wrapper {
    height: 300px;
  }
  .section-3 {
    background-position: 35% center;
  }
  .section-3 .link-wrapper {
    margin: 2rem 0 0;
    flex-direction: column;
  }
  .section-4 .no-pain {
    align-items: flex-start;
  }
  .section-5 .sleep-score {
    grid-template-columns: 50% 50%;
  }
  .section-5 .phone img {
    max-width: 350px;
  }
  .section-5 .phone .score {
    font-size: 4rem;
    left: 48%;
  }
  .section-7 .positions .grid {
    align-items: flex-start;
  }
  .section-7 .positions .grid .photos {
    max-width: 40%;
  }
  .section-8 .no-pain {
    align-items: flex-start;
  }
  .section-10 .sizes .sizes-img label {
    width: 48%;
  }
  .section-10 .sizes h2,
  .section-10 .sizes p {
    max-width: 320px;
  }
  .section-12 {
    height: 600px;
  }
  .section-13 .bars {
    max-width: 600px;
  }
  footer .navs {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer .navs > div {
    width: 60%;
  }
  .copyright {
    gap: 0;
  }
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: block;
  }
  nav.show-mobile ul {
    margin: 3rem 0 1rem;
    text-align: center;
    flex-direction: column;
  }
  .mobile-menu {
    height: 0;
    overflow: hidden;
    transition: all ease-in 200ms;
  }
  .read-more,
  .mobile-menu-button {
    cursor: pointer;
  }
  input.mobileMenuTrigger {
    display: none;
  }
  input.mobileMenuTrigger:checked + .mobile-menu {
    height: 150px;
  }
  .section-7 .show-mobile,
  .floating-banner .show-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .show-mobile.hidden {
    display: block;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .header .logo img {
    max-width: 105px;
  }
  .section-1 {
    height: auto;
    background-position: 65% center;
  }
  .section-1 .cta {
    padding: 3rem 0 0;
  }
  .section-1 .cta h1 {
    margin-bottom: 12rem;
  }
  .section-1 .channels .channels-images {
    flex-wrap: wrap;
  }
  .section-1 .carousel-images {
    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 2rem;
    }
    img {
      margin: 0 auto;
      max-height: 50px;
      max-width: 100%;
    }
  }
  .section-1 .channels p {
    margin: 1rem 0 2rem;
  }
  .cta-fixed-block {
    display: none;
  }
  .section-2 .video-wrapper {
    height: 160px;
  }
  .section-2 .lists {
    flex-direction: column;
  }
  .section-2 .lists > div {
    width: 100%;
  }
  .section-2 .lists strong {
    font-size: 1.3rem;
    text-align: center;
    display: block;
  }
  .section-2 li {
    list-style: none;
  }
  .section-2 li::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 18px;
    background-image: url(../img/list.svg);
    margin: 0 0.5rem 0 0;
    position: relative;
    top: 4px;
  }
  .section-3 {
    background-image: url(../img/section-3/bg-mobile.jpg);
    background-position: 30% top;
    padding: 3rem 0;
  }
  .section-3 .opinion {
    margin: 0;
    width: 100%;
  }
  .section-3 .opinion .top-img {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 2rem;

    img {
      max-width: 150px;
    }
  }
  .section-3 h1 {
    text-align: center;
  }
  .section-4 {
    padding: 3rem 0;
    position: relative;
  }
  .section-4 .bg-number {
    margin: 35px 20px;
  }
  .section-4 .no-pain {
    position: static;
    display: flex;
    flex-direction: column-reverse;
  }
  .section-5 {
    padding: 3rem 0 0;
  }
  .section-5 .sleep-score {
    display: flex;
    flex-direction: column;
  }
  .section-5 .sleep-score .text h2 {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }
  .section-5 .phone {
    display: flex;
    justify-content: center;
  }
  .section-5 label {
    font-weight: 600;
  }
  .section-5 .readmore-p,
  .section-5 input[type="checkbox"],
  .section-5 input:checked ~ label {
    display: none;
  }
  .section-5 input:checked ~ .readmore-p {
    display: block;
  }
  .section-6 .pillows {
    display: flex;
    flex-direction: column;
  }
  .section-7 .positions .grid {
    flex-direction: column-reverse;
    gap: 0;
  }
  .section-7 .positions .grid .photos {
    display: block;
    max-width: 100%;
  }
  .section-7 .positions .grid a.show-mobile {
    margin: 2rem auto -2rem;
  }
  .section-8 {
    padding: 1rem 0 3rem;
  }
  .section-8 .no-pain {
    display: flex;
    flex-direction: column;
  }
  .section-8 label {
    font-weight: 600;
  }
  .section-8 .readmore-p,
  .section-8 input[type="checkbox"],
  .section-8 input:checked ~ label {
    display: none;
  }
  .section-8 input:checked ~ .readmore-p {
    display: block;
  }
  .section-9,
  .section-10,
  .section-13 {
    padding: 3rem 0;
  }
  .section-9 {
    background-image: url(../img/section-9/bg-mobile.jpg);
    background-position: top center;
  }
  .section-9 h2 {
    font-size: 2.4rem;
    text-align: center;
    margin: 0 0 15rem !important;
  }
  .section-9 label {
    font-weight: 600;
  }
  .section-9 .readmore-p,
  .section-9 input[type="checkbox"],
  .section-9 input:checked ~ label {
    display: none;
  }
  .section-9 input:checked ~ .readmore-p {
    display: block;
  }
  .section-10 h2 {
    margin: 0 0 2rem;
  }
  .section-10 .sizes {
    grid-template-columns: 100%;
  }
  .section-10 .sizes .sizes-img {
    height: 350px;
  }
  .section-10 .sizes .sizes-img label {
    width: 100%;
  }
  .section-10 .sizes .sizes-img .size2 {
    bottom: -6rem;
  }
  .section-10 .sizes h2,
  .section-10 .sizes p {
    max-width: 100%;
  }
  .section-12 {
    padding: 3rem 0 6rem;
    height: 1200px;
  }
  .section-12 .tiktok {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .section-12 .tiktok .btn-mobile {
    position: absolute;
    top: 650px;
    left: 0;
    right: 0;
  }
  .section-12 .text {
    text-align: center;
  }
  .section-13 .bar .name {
    width: 140px;
  }
  .section-13 .review {
    width: 100%;
    display: none;
  }
  .section-13 label {
    background: #00b67a;
    padding: 0.5rem 3rem;
    margin: 1rem auto 0;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .section-13 .review:nth-child(1),
  .section-13 .review:nth-child(2),
  .section-13 .review:nth-child(3) {
    display: block;
  }
  .section-13 input:checked ~ label {
    display: none;
  }
  .section-13 input:checked ~ .review {
    display: block;
  }
  .section-14 .faq .item label {
    display: block;
  }
  .section-15 {
    padding: 16rem 0 2rem;
    text-align: center;
    background: url(../img/section-15/bg-mobile.jpg) center top 35% no-repeat;
    background-size: cover;
  }
  .section-15 h2 {
    font-size: 2.3rem;
  }
  footer .container {
    padding: 0 40px;
  }
  footer .navs {
    grid-template-columns: 100%;
  }
  footer .navs > div {
    width: 100%;
  }
  .footer-logo {
    display: block;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  .copyright {
    display: block;
    text-align: center;
  }
  .copyright > div {
    width: 100%;
    margin: 1rem 0;
  }
  .section-7 .show-mobile,
  .floating-banner .show-mobile {
    display: block;
    max-width: 220px;
    margin: 0 auto;
  }
  .floating-banner {
    padding: 0.5rem 2rem 0;
    height: 80px;
    font-size: 11px;
    text-align: center;
  }
  .floating-banner .container {
    height: 40px;
  }
}
